body{
  text-align: center;
  background: url("Blue.gif");
}

h1{
  color: white;
}

h4{
  color: white;
}

.Name{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
