body{
  text-align: center;
  background: url("Blue.gif");
}

h1{
  color: white;
}

h4{
  color: white;
}

#Name{
  font-family: 'Lobster Two', cursive;
}

#Happy_Birthday_gif{
  height: 350px;
}

#Hom,
#pri,
#Bot,
#Gal{
  color: aqua;
  display: inline-block;
}
