body{
  text-align: center;
  background: url("Blue.gif");
}

h1{
  color: white;
}

h4{
  color: white;
}

#Name{
  font-family: 'Lobster Two', cursive;
}

#Happy_Birthday_gif{
  height: 350px;
}

#Hom,
#pri,
#Bot,
#Gal{
  display: inline-block;
    float: center;
    color: white;
    margin-left: 20px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    font-family: 'Lobster Two', cursive;
    font-size: 20px; 
}

#Hom: hover,
#pri: hover,
#Bot: hover,
#Gal: hover{
  background-color: powderblue;
}
